body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  width: 100%;
  background: #fff;
}
.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0px 15px;
  letter-spacing: -3%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 74px;
  padding-top: 33px;
  font-weight: 400;
}
.logo {
}
.nav {
}
ul {
  display: flex;
}
li a {
  margin-right: 60px;
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #121212;
  text-decoration: none;
}
.nav li:first-child {
  text-decoration: underline;
  opacity: 50%;
}
.nav li:last-child {
  margin-right: -60px;
}
.interior {
  margin-bottom: 150px;
  font-weight: 400;
}
h1 {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
  letter-spacing: -1.8px;
  line-height: 60px;
  color: #121212;
}
h2 {
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #121212;
}
h3 {
  font-size: 30px;
  letter-spacing: -1.8px;
}
.interior__text-wrapper {
  position: relative;
  display: flex;
  max-width: 1150px;
  min-height: 500px;
  background-image: url("../resources/Интерьеры.jpg");
}
.interior__text {
  position: absolute;
  /* display: flex; */
  /* align-items: flex-end; */
  width: 430px;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 150%;
  color: #fff;
}
.about {
  margin-bottom: 150px;
}
.about__text {
  margin-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  letter-spacing: -1.3px;
  line-height: 63px;
  color: #121212;
}
.about__link {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 40px;
  background-color: #ad1818;
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.6px;
  text-decoration: none;
}
.projects {
  margin-bottom: 150px;
}
.projects-list {
  display: flex;
  flex-direction: column;
}
.projects-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.item__image {
  margin-bottom: 15px;
}
.item__title {
  margin-bottom: 15px;
  color: #121212;
}
.item__link {
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #ad1818;
  text-decoration: none;
}
.projects__link {
  display: flex;
  justify-content: center;
  padding: 57px 0px;
  border: solid 1px #ad1818;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: -0.9px;
  color: #ad1818;
  text-decoration: none;
}
.projects__link:hover {
  background-color: #ad1818;
  color: #fff;
  transition: 0.5s;
}
.services {
  margin: 0px auto;
  padding: 150px 0px;
  max-width: 1400px;
  background-color: #121212;
}
.services__container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0px 15px;
}
.services__heading {
  margin-bottom: 34px;
  color: #fff;
}
.services__list {
  display: flex;
  flex-direction: column;
}
.list__unit {
  margin-bottom: 60px;
}
.list__unit:nth-last-child(1) {
  margin-bottom: 0px;
}
.unit__image {
  margin-bottom: 15px;
  max-width: 100%;
}
.unit__title {
  color: #fff;
}
