

.about__text {
  margin-bottom: 30px;
  max-width: 1048px;
  font-size: 45px;
  line-height: 63px;
  color: rgb(18, 18, 18);
}

@media (max-width: 961px) {
  .about__text {
    width: 75%;
    font-size: 35px;
    line-height: 48px;
    color: rgb(18, 18, 18);
  }
}

@media (max-width: 550px) {
  .about__text {
    width: 346px;
    font-size: 22px;
    line-height: 30px;
  }
}
