.contacts {
}

.contacts__heading {
    margin-bottom: 74px;
}

.contacts__list {
  display: flex;
  column-gap: 114px;
}

.contacts__call {
  position: relative;
}

.contacts__call::before {
  position: absolute;
  bottom: 80px;
  content: "";
  width: 13px;
  height: 22px;
  background-image: url("../resources/phone.svg");
  cursor: pointer;
}

.contacts__call:hover{
  opacity: 0.8;
}

.contacts__mail {
  position: relative;
}

.contacts__mail::before {
  position: absolute;
  bottom: 80px;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../resources/mail.svg");
  cursor: pointer;
}

.contacts__call a {
  font-size: 60px;
  line-height: 60px;
  color: rgb(18, 18, 18);
  text-decoration: none;
}

.contacts__mail a {
  font-size: 60px;
  line-height: 60px;
  color: rgb(18, 18, 18);
  opacity: 0.5;
  text-decoration: none;
  border-bottom: 2px solid rgb(18, 18, 18);
}

@media (max-width: 1199px) {
	
  .contacts__list {
    column-gap: 60px;
  }

  .contacts__call {
  }

  .contacts__call a {
    font-size: 45px;
  }

  .contacts__mail a {
    font-size: 45px;
  }

}

@media (max-width: 767px) {

  .contacts__heading {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 58px;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__call {
    margin-bottom: 58px;
  }

  .contacts__call a {
    font-size: 35px;
    line-height: 45px;
  }

  .contacts__call::before {
    bottom: 66px;
    width: 10px;
    height: 16px;
    background-image: url("../resources/phone_767.svg");
  }

  .contacts__mail a {
    font-size: 35px;
    line-height: 45px;
    border-bottom: none;
    opacity: 1;
  }

  .contacts__mail::before {
    bottom: 66px;
    width: 18px;
    height: 18px;
    background-image: url("../resources/mail_767.svg");
  }

}