.example {
  position: relative;
  width: 100%;
  margin: 0px auto 150px;
  height: 717px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.52%,
      rgba(0, 0, 0, 0.4) 82.81%
    ),
    url("../resources/2-room_apartment_project.jpeg") no-repeat center /
      cover;
}