.footer {
  padding: 60px 0px 30px;
  background-color: rgb(18, 18, 18);
}

.footer__nav {
  margin-bottom: 87px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  column-gap: 55px;
}

.footer__menu-item a {
  font-size: 18px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer__menu-item:hover {
  opacity: 0.5;
}

.footer__menu-item:active {
  opacity: 0.5;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.footer__text {
  font-size: 20px;
  line-height: 27px;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  text-align: center;
}

@media (max-width: 961px) {
}

@media (max-width: 550px) {
  .footer {
    padding: 30px 0px 26px;
  }

  .footer__nav {
    margin-bottom: 41px;
  }

  .footer__menu {
    column-gap: 30px;
  }

  .footer__menu-item a {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__text {
    font-size: 13px;
    line-height: 18px;
  }
}
