.footer {
  background-color: rgb(18, 18, 18);
}

.footer__nav {
}

.footer__menu {
  display: flex;
  justify-content: center;
  column-gap: 55px;
  margin-bottom: 87px;
  padding-top: 60px;
}

.footer__menu-item {
}

.footer__menu-item a {
  font-size: 18px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer__menu-item:first-child {
  opacity: 0.5;
}

.footer__menu-item:hover {
  opacity: 0.5;
}

.footer__menu-item:active {
  opacity: 0.5;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.footer__text {
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  color: rgb(255, 255, 255);

  opacity: 0.5;
  text-align: center;
}

@media (max-width: 1199px) {
 


}

@media (max-width: 767px) {

.footer__menu {
  column-gap: 30px;
  margin-bottom: 41px;
}

.footer__menu-item a {
  font-size: 12px;
  line-height: 16px;
}

.footer__text {
  padding-bottom: 26px;
  font-size: 13px;
  line-height: 18px;
}
  
}
