.interior__heading {
  margin-bottom: 30px;
  width: 971px;
  font-size: 60px;
  line-height: 60px;
  color: rgb(18, 18, 18);
}

.about__heading {
  line-height: 55px;
}

.projects__heading {
  line-height: 55px;
}

.services__heading {
  line-height: 55px;
  color: rgb(255, 255, 255);
}

.reviews__heading {
}

.col__heading {
}

.example__heading {
  position: absolute;
  bottom: 60px;
  width: 440px;
  line-height: 41px;
  color: rgb(255, 255, 255);
}

.contacts__heading {
  position: relative;
  padding-top: 40px;
}

.contacts__heading::before {
  position: absolute;
  left: -4px;
  bottom: 37px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../resources/phone_icon.png");
}

@media (max-width: 767px) {

  .about {
    margin-bottom: 80px;
  }

  .about__heading {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

}