.interior__heading {
  margin-bottom: 30px;
  width: 971px;
  font-size: 60px;
  line-height: 60px;
  color: rgb(18, 18, 18);
}

.about__heading {
  line-height: 55px;
}

.projects__heading {
  line-height: 55px;
}

.services__heading {
  line-height: 55px;
  color: rgb(255, 255, 255);
}

.reviews__heading {
}

.col__heading {
}

.contacts__heading {
    margin-bottom: 74px;

}

.gallery__slide__heading {
  position: absolute;
  bottom: 60px;
  width: 443px;
  line-height: 41px;
  color: rgb(255, 255, 255);
}

.gallery__slide__heading_line-height {
  padding-bottom: 41px;
}

@media (max-width: 1199px) {
	
.interior__heading {
    font-size: 50px;
    width: inherit;
    max-width: 807px;
  }

.gallery__slide__heading {
  bottom: 80px;
  padding-left: 35px;
  font-size: 25px;
  line-height: 34px;
}

.gallery__slide__heading_line-height {
  padding-bottom: 34px;
}

}

@media (max-width: 767px) {
	
  .interior__heading {
    font-size: 30px;
    line-height: 32px;
    width: inherit;
    max-width: 345px;
    margin-bottom: 25px;
  }

  .about__heading {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
  
  .gallery__slide__heading {
	
	width: 287px;
	bottom: 60px;
	padding-left: 0px;
	font-size: 19px;
	line-height: 26px;
}

  .gallery__slide__heading_line-height {
  padding-bottom: 26px;
}

}