.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}

.projects-list__item {
  display: flex;
  flex-direction: column;
}

.item__image {
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__title {
  margin-bottom: 15px;
  color: rgb(18, 18, 18);
}

@media (max-width: 961px) {
  .projects-list {
    row-gap: 80px;
  }

  .item__title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 550px) {
  .projects-list {
    row-gap: 50px;
  }

  .item__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
  }

  .item__link {
    font-size: 16px;
    line-height: 22px;
  }
}
