.services {
  padding: 150px 0px;
  background-color: rgb(18, 18, 18);
}

.services__heading {
  color: rgb(255, 255, 255);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
  margin-bottom: 104px;
}

.list__unit {
  position: relative;
  width: calc(50% - 5.5px);
  height: 100%;
}

.list__unit:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.list__unit a {
  text-decoration: none;
}

.unit__image {
  margin-bottom: 25px;
  width: 100%;
  object-fit: cover;
}

.unit__title {
  color: rgb(255, 255, 255);
}

.unit__price {
  position: absolute;
  content: "";
  top: 32px;
  left: 32px;
  padding: 5px 20px;
  background: rgb(173, 24, 24);
  border-radius: 5px;
  font-size: 22px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgb(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  padding: 94px 79px 86px 55px;
  background-color: rgb(255, 255, 255);
}

.popup__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 32px 34px 0 0;
  width: 50px;
  align-self: flex-end;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
}

.popup__title {
  margin-bottom: 4px;
  font-size: 45px;
  line-height: 61px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.popup__text {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.popup__input {
  margin-bottom: 50px;
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 25px;
  line-height: 34px;
}

.popup__input_last {
  margin-bottom: 80px;
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  font-size: 25px;
  line-height: 34px;
  opacity: 0.5;
}

.popup__input:hover::placeholder {
  text-decoration: underline;
  text-decoration-color: rgb(0, 255, 255);
}

.popup__btn {
  width: 100%;
  padding: 20px 0px;
  background-color: rgb(173, 24, 24);
  font-size: 20px;
  line-height: 27px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 961px) {
  .services {
    padding-bottom: 120px;
  }

  .services__list {
    margin-bottom: 80px;
  }

  .list__unit {
    width: calc(50% - 5px);
  }

  .unit__image {
    margin-bottom: 15px;
  }

  .unit__title {
    font-size: 25px;
    line-height: 34px;
  }

  .unit__price {
    padding: 7px 27px;
    font-size: 20px;
    line-height: 30px;
  }

  .popup__close-btn {
    margin-right: 44px;
  }
}

@media (max-width: 550px) {
  .services {
    padding: 80px 0px;
  }

  .services__list {
    flex-direction: column;
    margin-bottom: 60px;
    gap: 60px;
  }

  .list__unit {
    width: 100%;
  }

  .unit__image {
    margin-bottom: 10px;
  }

  .unit__title {
    font-size: 18px;
    line-height: 25px;
  }

  .unit__price {
    top: 24px;
    left: 24px;
    padding: 5px 25px;
    font-size: 14px;
    line-height: 19px;
  }

  .popup {
    padding: 13px;
  }

  .popup__content {
    padding: 80px 16px;
    border-radius: 5px;
  }

  .popup__close-btn {
    top: 40px;
    right: 29px;
    margin: 0;
    width: 30px;
  }

  .popup__title {
    margin-bottom: 11px;
    font-size: 25px;
    line-height: 34px;
  }

  .popup__text {
    width: 200px;
    margin-bottom: 70px;
    font-size: 14px;
    line-height: 19px;
  }

  .popup__input {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .popup__input_last {
    margin-bottom: 60px;
  }

  .popup__input::placeholder {
    font-size: 18px;
    line-height: 25x;
  }
}
